@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Merriweather+Sans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Cinzel Decorative", serif, "Merriweather Sans", sans-serif;
  }
}
.third-heading::before {
  content: "";
  background-color: white;
  width: 0.7rem;
  height: 1.5rem;
  display: inline-block;
  left: 4%;
  margin-right: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .third-heading::before {
    height: 1.9rem;
    margin-right: 0.9rem;
  }
}
.score-bar {
  height: 100%;
  background-color: #57a6a1;
  transition: width 2s;
}
.score {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}
