@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Merriweather+Sans:wght@300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Cinzel Decorative", serif, "Merriweather Sans", sans-serif;
  }
}

/* .font-heading-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
}
.font-merriweather {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
} */
