@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Merriweather+Sans:wght@300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Cinzel Decorative", serif, "Merriweather Sans", sans-serif;
  }
}
#particles-js {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
